body {
    background-image: url(./hex/19366.jpg);

    background-size: cover;
    // background-repeat: none;
}
//POPUP SECTION
.popup-overlay.popup-content {
    &:content {
        background: #f00;
    }
}
// TABS SECTION

/*********Desktop TABS************/
// .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded
.MuiPaper-root.makeStyles-root-1.MuiPaper-elevation1.MuiPaper-rounded {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.1);
}
.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
    background: none;
    box-shadow: none !important;
    text-align: center;
    align-items: center;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary {
    color: #161c84;
}
.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
    // box-shadow: none;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.PrivateTabIndicator-root-2.PrivateTabIndicator-colorPrimary-3 {
    background-color: #161c84;
}
.MuiBottomNavigation-root.bottom-navigation-bar {
    display: none;
}
/**************TODO's*****************/

.cards {
    border: 1px solid #f00;
    width: 20%;
    float: left;
    &::before,
    &::after {
        clear: both;
    }

    margin: 4% 0 2% 4%;
}
.cards-button {
    background: none;
    border: none;
    width: 100%;
}
.cards-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 760px) {
    //Enable Bottom navigation bar Ṃobile
    .MuiBottomNavigation-root.bottom-navigation-bar {
        display: flex;
        background: transparent;
    }
    // Disable desktop tabs.

    //Add todos button
    .createTodoButton {
        // background-color: #9be4f5;
        background-color: #161c84;
        color: #fff;
        border-radius: 50%;
        padding: 0.3em;
        position: fixed;
        top: calc(100vh - 110px);
        // margin-right: 43.5%;
        right: 0.2em;
        border: 2px solid rgba(255, 255, 255, 0.25);
        box-shadow: 2px 2.5px 5px rgba(0, 0, 1, 0.5);
        z-index: 1000;
    }

    //Bottom navigation bar
    .MuiBottomNavigation-root.bottom-navigation-bar {
        position: absolute;
        background-color: #161c84;
        color: #fff;
        width: 100%;
        top: calc(100vh - 3.5em);
        z-index: 100;
    }
    .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
        position: absolute;
        top: -82vh;
        height: 82vh;
        overflow-y: scroll;
        width: 100%;
        z-index: 20;
        text-align: center;
    }
    .MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected {
        color: #fff;
    }
    .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
        box-shadow: none;
        background: none;
    }
    .cards {
        float: none;
        width: 92%;
    }
}
