@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@500&display=swap");
$tabs-color: #8dceee;

body {
    font-family: "Poppins", sans-serif;
    background-color: #edf2f7;
}
.logo {
    font-size: 32px;
    margin-left: 1em;
    font-family: "Merriweather", serif;
}
//POPUP SECTION
.popup-overlay.popup-content {
    &:content {
        background: #f00;
    }
}
/*********Desktop TABS************/
.MuiAppBar-colorPrimary {
    background-color: $tabs-color !important;
    color: #000 !important;
}
.PrivateTabIndicator-colorSecondary-4 {
    background-color: #000 !important;
}
/**************TODO's*****************/

.cards {
    border: 4px solid #000;
    border-radius: 50px;
    padding: 1em;
    width: 20%;
    float: left;
    &::before,
    &::after {
        clear: both;
    }

    margin: 2% 0 0 4%;
}
.cards-button {
    background: none;
    border: none;
    width: 100%;

    &:focus {
        outline: none;
    }
}
.cards-button-container {
    display: flex;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeLarge {
    cursor: pointer;
}

// TODO button
.popup-container {
    display: block;
    align-items: center;
}
.container-todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 2em;
    &:focus {
        outline: none;
    }
}

//POPUP JS
.popup-close {
    background-color: transparent;
    border: none;
    margin-top: 2em;
    margin-bottom: 0.1em;
    font-size: 2em;
    color: #fff;
}
.popup {
    border: none;
    margin: 0.2em 0;
    width: 40%;
    border-radius: 15px;
    height: 2em;
    justify-content: center;
    margin-top: 1em;
    &:focus {
        outline: none;
    }
}
.popup-input::placeholder {
    text-align: center;
}

.popup-add-btn {
    background-color: $tabs-color;
    color: #fff;
}

//date and time picker
.MuiInputBase-input.MuiInput-input {
    color: #fff;
    text-align: center;
    // margin-bottom: 1em;
    border: none !important;
}

.PrivateTabIndicator-colorSecondary-10 {
    background-color: #fff !important;
}
.PrivateTabIndicator-root-6.PrivateTabIndicator-colorSecondary-8.MuiTabs-indicator {
    background-color: #fff;
}
@media screen and (max-width: 760px) {
    .logo {
        margin: 0.5em 0 0 1em;
    }
    //Enable Bottom navigation bar Ṃobile
    .MuiBottomNavigation-root.bottom-navigation-bar {
        display: flex;
        background: transparent;
    }

    //Add todos button
    .createTodoButton {
        background-color: $tabs-color;
        color: #fff;
        border-radius: 50%;
        padding: 0.3em;
        position: fixed;
        top: calc(100vh - 110px);
        right: 0.2em;
        border: 2px solid rgba(255, 255, 255, 0.25);
        box-shadow: 2px 2.5px 5px rgba(0, 0, 1, 0.5);
        z-index: 1000;
    }

    //Bottom navigation bar
    .MuiBottomNavigation-root.bottom-navigation-bar {
        position: absolute;
        background-color: $tabs-color;
        color: #fff;
        width: 100%;
        top: calc(100vh - 3.5em);
        z-index: 100;
    }
    .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
        position: absolute;
        top: -82vh;
        height: 82vh;
        overflow-y: scroll;
        width: 100%;
        z-index: 20;
        text-align: center;
    }
    .MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected {
        color: #fff;
    }
    .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
        box-shadow: none;
        background: none;
    }
    .cards {
        float: none;
        width: 90%;
        margin: 4%;
    }

    .popup {
        width: 100%;
    }
    .createTodo-p {
        display: none;
    }
}
