@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-image: url(./Confetti-Doodles.svg);
  background-color: #8dceee;
  background-size: 100%;
  /* background by SVGBackgrounds.com */
}

.logo {
  font-size: 32px;
  margin-left: 1em;
  font-family: "Merriweather", serif;
}

nav {
  background-color: transparent;
}

.empty-active-todo,
.empty-completed-todo,
.empty-missed-todo {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-position: center;
}

.empty-active-todo {
  background-image: url(./illustrations/undraw_Notify_re_65on.svg);
}

.empty-completed-todo {
  background-image: url(./illustrations/undraw_Analysis_re_w2vd.svg);
}

.empty-missed-todo {
  background-image: url(./illustrations/undraw_Updated_re_u4yh.svg);
}

/*********Desktop TABS************/
.ant-tabs-nav-wrap {
  background-color: rgba(0, 0, 0, 0.25);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #000 !important;
  font-weight: 500;
}

.ant-tabs-tab-btn {
  border: none;
}

.ant-tabs-tab:hover {
  color: #000;
  border: none;
}

.ant-tabs-tabpane.ant-tabs-tabpane-active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 0 1;
  min-height: 75vh;
  max-height: 100%;
}

/**************TODO's*****************/
.cards-container {
  width: 100%;
  text-align: center;
}

.cards {
  background-color: #fff;
  width: 20%;
  margin: 2em;
  border-radius: 4px;
  padding: 1em;
  box-shadow: 0px 0px 10px rgba(0, 0, 1, 0.5);
}
.cards:hover {
  transform: scale(1.05) translateY(5px);
  transform-origin: bottom;
  transition-delay: 0.2s;
  transition-timing-function: linear;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.cards-button {
  background: none;
  border: none;
  width: 100%;
}
.cards-button:focus {
  outline: none;
}

.cards-button-container {
  display: flex;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeLarge {
  cursor: pointer;
}

.popup-container {
  display: block;
  align-items: center;
}

.todo-btn {
  display: flex;
  flex-direction: row;
  margin-left: 2em;
  margin-bottom: 1em;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.75);
  padding: 1em 1em 0 1em;
}
.todo-btn .MuiSvgIcon-root {
  margin-bottom: -0.25em;
}
.todo-btn:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);
  transform-origin: bottom;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}

.popup-close {
  background-color: transparent;
  border: none;
  margin-top: 2em;
  margin-bottom: 0.1em;
  font-size: 2em;
  color: #fff;
}

.popup {
  border: none;
  margin: 0.2em 0;
  width: 40%;
  border-radius: 15px;
  height: 2em;
  justify-content: center;
  margin-top: 1em;
}
.popup:focus {
  outline: none;
}

.popup-input::placeholder {
  text-align: center;
}
.popup-input:focus {
  padding-left: 1em;
}

.popup-add-btn {
  background-color: #8dceee;
  color: #fff;
}

.MuiInputBase-input.MuiInput-input {
  color: #fff;
  text-align: center;
  border: none !important;
}

.PrivateTabIndicator-colorSecondary-10 {
  background-color: #fff !important;
}

.PrivateTabIndicator-root-6.PrivateTabIndicator-colorSecondary-8.MuiTabs-indicator {
  background-color: #fff;
}

@media screen and (max-width: 760px) {
  .logo {
    margin: 0.5em 0 0 1em;
  }

  nav {
    margin-top: -1em;
    padding: 1em;
  }

  .MuiBottomNavigation-root.bottom-navigation-bar {
    display: flex;
    background: transparent;
  }

  .todo-btn {
    background-color: #8dceee;
    color: #fff;
    border-radius: 50%;
    padding: 0.3em;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 2px 2.5px 5px rgba(0, 0, 1, 0.5);
    z-index: 1000;
  }
  .todo-btn p {
    display: none;
  }
  .todo-btn .MuiSvgIcon-root {
    margin-bottom: 0;
  }

  .ant-tabs-tabpane.ant-tabs-tabpane-active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .popup {
    width: 100%;
  }

  .createTodo-p {
    display: none;
  }

  .cards {
    width: 100%;
    margin: 5% auto;
  }
}

/*# sourceMappingURL=main.css.map */
